<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
          <img src="img/about_pic.jpg" class="img-responsive" alt="{{ post.alt }}">
      </div>

    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <p>Hi, I'm Bridget and I do like making tattoos</p>
      </div>
      <div class="col-lg-4">
        <p>  </p>
      </div>

    </div>
  </div>
</section>
